table
{
    width: 80%;
    margin: auto;
    margin-top: 5%;
}
.nav
 {
     background-color:#2a4d69;
     color: white;
 }
 .main{
     
    background-color: #e7eff6;
    height: 100%;
    width: 100%;
    position: absolute;
}