.nav
 {
    margin-left: 0;
     background-color:#2a4d69;
     color: white;
     width: 100%;

 }
 .button
 {
    margin-right: 5px;
    background-color:#2a4d69;
    color: white;
    width: 60%;
    margin-top: 10px;
}

.input
{
    margin-top: 15px;
    width: 80%;
}